<%= form_with(model: save_video, local: true) do |form| %>
  <% if save_video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(save_video.errors.count, "error") %> prohibited this save_video from being saved:</h2>

      <ul>
        <% save_video.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :string %>
    <%= form.text_field :string %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
